[submodule "DDT"]
	path = DDT
	url = https://github.com/CORE-Robotics-Lab/Interpretable_DDTS_AISTATS2020.git
[submodule "SDTR"]
	path = SDTR
	url = https://github.com/TheSignPainter/SDTR.git
[submodule "NODE"]
	path = NODE
	url = https://github.com/Qwicen/node.git
[submodule "GRANDE"]
	path = GRANDE
	url = https://github.com/s-marton/GRANDE
