[submodule "SDTR"]
	path = SDTR
	url = https://github.com/TheSignPainter/SDTR.git
[submodule "Interpretable_DDTS_AISTATS2020"]
	path = DDT
	url = https://github.com/CORE-Robotics-Lab/Interpretable_DDTS_AISTATS2020.git
